.list-category {
  font-size: 2.5em;
  color: hsl(0, 0%, 100%);
  background-color: rgb(10, 158, 10);
  border: 3px solid;
  border-radius: 5px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.list-items li {
  font-size: 1.5em;
  list-style: none;
  text-align: center

}

.list-items li:hover {
  color: rgb(44, 44, 44);
}