body {
  background-image: url(./assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /* OPTIONAL CODE */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container {
  backdrop-filter: blur(15px);
  width: 100vw;
}

.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.575);
}