.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .profile-img {
  max-width: 60%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  margin: 0px;
  color: hsl(0, 0%, 30%);
}

.card .card-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 0px;
  color: hsl(0, 0%, 40%);
}
